/* 슬라이드 CSS */

.swiper-slide {
  height: 280px;
}

.swiper-button-next {
  /* background: url(../../util/img/Group60.png) no-repeat; */
  width: 80px;
  opacity: 0.5;
  background-size: 50% auto;
  background-position: center;
}
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev {
  /* background: url(../../util/img/Group61.png) no-repeat; */
  width: 80px;
  background-size: 50% auto;
  background-position: center;
  opacity: 0.5;
}
.swiper-button-prev:hover {
  opacity: 1;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  /* display: none; */
  color: #5f9c92;
}

.swiper-pagination-bullet {
  background-color: #5f9c92;
}
